form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;

  padding: 10px;
  margin-left: 32%;
  border: 3px solid rgb(212, 208, 208);
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
  border-radius: 2px solid black;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
img {
  height: 180px;
  width: 180px;
  display: inline-block;
  margin: 2px;
}
.wine-container {
  box-sizing: border-box;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 20px;
  padding: 20px;
}
